<section
  class="not-prose grid overflow-hidden rounded-xl bg-sky-950 text-sky-300
    offset-border md:-mx-16 md:grid-cols-[1fr_auto_1fr] lg:-mx-32 2xl:-mx-48"
>
  <div
    class="flex items-center justify-center pattern-sky-800 p-2 text-center
      font-mono text-xs max-md:hidden"
  >
    <span class="hidden md:max-lg:inline-block">md:-mx-16</span>
    <span class="hidden lg:max-xl:inline-block">lg:-mx-32</span>
    <span class="hidden 2xl:inline-block">2xl:-mx-48</span>
  </div>
  <div class="flex max-w-prose flex-col gap-2 px-4 py-6">
    <p class="text-2xl font-bold text-sky-100">This is a breakout section</p>
    <p class="self-center">
      On screens wider than 768px, this section appears broader than the other
      content. Use it to draw attention to key information or introduce a visual
      break in your layout.
    </p>
  </div>
  <div
    class="flex items-center justify-center pattern-sky-800 p-2 text-center
      font-mono text-xs max-md:hidden"
  >
    <span class="hidden md:max-lg:inline-block">md:-mx-16</span>
    <span class="hidden lg:max-xl:inline-block">lg:-mx-32</span>
    <span class="hidden 2xl:inline-block">2xl:-mx-48</span>
  </div>
</section>
