<div
  class="flex items-center justify-center rounded-xl bg-neutral-900 p-4
    offset-border"
>
  <span
    class="inline-block rounded-xl bg-linear-to-b from-neutral-500
      to-neutral-300 bg-clip-text text-3xl font-bold text-transparent"
  >
    <slot />
  </span>
</div>
