@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 83%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 16 100% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.uim-primary {
  @apply fill-sky-500;
}
.uim-secondary {
  @apply fill-sky-400;
}
.uim-tertiary {
  @apply fill-sky-300;
}
.uim-quaternary {
  @apply fill-sky-200;
}
.bg-sky-500 {
  .uim-primary {
    @apply fill-sky-950;
  }
  .uim-secondary {
    @apply fill-sky-900;
  }
  .uim-tertiary {
    @apply fill-sky-800;
  }
  .uim-quaternary {
    @apply fill-sky-700;
  }
}
.bg-orange-500 {
  .uim-primary {
    @apply fill-orange-950;
  }
  .uim-secondary {
    @apply fill-orange-900;
  }
  .uim-tertiary {
    @apply fill-orange-800;
  }
  .uim-quaternary {
    @apply fill-orange-700;
  }
}
@layer base {
  * {
    @apply border-border;
  }
}
@layer components {
  .badge {
    @apply inline-flex items-center justify-center gap-1 rounded-full px-3 py-2 text-sm font-bold tracking-wide;
    &.badge-sky {
      @apply bg-sky-500 text-sky-950;
    }
    &.badge-orange {
      @apply bg-orange-500 text-orange-950;
    }
    svg {
      @apply size-6;
    }
  }
}
main.content section[id] {
  @apply max-lg:py-8 max-lg:first:pt-0 lg:min-h-[calc(100vh_-_200px)];
}

.tool-grid {
  svg {
    @apply size-14 rounded border-2 border-border bg-gradient-to-tr from-neutral-950 to-neutral-900 fill-white p-2;
    &:nth-child(3n + 1) {
      @apply fill-sky-500;
    }
    &:nth-child(3n + 2) {
      @apply fill-orange-500;
    }
  }
}

code {
  counter-reset: step;
  counter-increment: step 0;
  .line {
    @apply border-l-4 border-transparent;
    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600 content-[counter(step)];
    }
    &.highlighted,
    &.diff {
      @apply -ml-4 -mr-5 inline-block w-[calc(100%+(theme(spacing.5)+theme(spacing.4)))] pl-4 pr-5;
    }
    &.highlighted {
      @apply border-neutral-500 bg-neutral-800;
    }
    &.diff {
      &.add,
      &.remove {
        span:first-child::before {
          @apply -ml-4 inline-flex w-4;
        }
      }
      &.add {
        @apply border-sky-500 bg-sky-500/25 before:text-sky-500;
        span:first-child::before {
          @apply text-sky-500 content-["+"];
        }
      }
      &.remove {
        @apply border-orange-500 bg-orange-500/30 opacity-70 *:!text-neutral-400 before:text-orange-500;
        span:first-child::before {
          @apply text-orange-500 content-["-"];
        }
      }
    }
  }
}
