---
import { cn } from "@/lib/utils";
import { FolderSimpleIcon } from "@phosphor-icons/react/dist/ssr/FolderSimple";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span"> & {
  isLast: boolean;
  name: string;
};
const { isLast, class: className, name, ...props } = Astro.props;
---

<span
  class={cn(
    "inline-flex items-center gap-x-0.5",
    { "text-foreground": isLast },
    className,
  )}
  {...props}
>
  {
    !isLast ? (
      <FolderSimpleIcon weight="duotone" size={20} aria-hidden="true" />
    ) : null
  }
  {name}
  {!isLast ? <span>/</span> : null}
</span>
